<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <customer>
            <shopping_cart_export>
                <enable_status>1</enable_status>
            </shopping_cart_export>
        </customer>
    </default>
</config>
